body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
}


/*spotify*/
.spotify_page {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/spotify_fake.jpg);
    background-position: center;
    background-repeat: no-repeat;
}


/* intro */
.background {
    background-color: black;
    z-index: 3;
    width: 100vw;
    height: 100vh;
}
.background .logo-bg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/eb/new_landing.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 3vh;
    z-index: 2;
}
.logo-bg:hover{
    background-image: url(../images/eb/new_hover.png);
    z-index:30;
     background-position: center;
    background-repeat: no-repeat; 
}


/* mobile first */
.home-page {
    position: relative;
    width: 100vw;
    height: auto;
}
.bg-homepage {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/noah_proffakuva.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}
.navigation_top {
    position: absolute;
    display: grid;
    width: 90vw;
    height: 10vh;
    grid-template-columns: 1fr 1fr;
    padding-top: 5vw;
}
.navigation_top .music-nav {
    padding-left: 5vw;
}
.navigation_top .shows-nav {
    justify-self: center;
    padding-right: 5vw;
}
.navigation_bottom {
    position: absolute;
    display: grid;
    width: 95vw;
    height: 10vh;
    grid-template-columns: 1fr 1fr;
    top: 85vh;
}
.navigation_bottom .about-nav {
    padding-left: 5vw;
    }
.navigation_bottom .shop-nav {
    justify-self: center;
}
.logo_and_media {
    position: absolute;
    display: grid;
    width: 90vw;
    height: 60vh;
    grid-template-columns: 90% 10%;
    margin: auto;
    top: 15vh;
    padding: 5vw;
    }
.logo_and_media .logo-hp {
    width: 120%;
    height: 120%;
    background-image: url(../images/final_logo_outlines.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
}


/* social media icons */
.so-me-icons {
    padding-top: 10vh;
}
.logo_and_media .so-me-icons .fb {
    display: block;
    width: 35px;
    height: 35px;
    background-image: url(../images/icons/fb_white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2vh;
    cursor: pointer; 
}
.logo_and_media .so-me-icons .fb:hover{
  background-image: url(../images/icons/fb_black.png);  
    cursor: pointer;
}
.logo_and_media .so-me-icons .e-mail {
    display: block;
    width: 35px;
    height: 35px;
    background-image: url(../images/icons/email_white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2vh;
    cursor: pointer;
}
.logo_and_media .so-me-icons .e-mail:hover {
    background-image: url(../images/icons/email_black.png);
}
.logo_and_media .so-me-icons .insta {
    display: block;
    width: 35px;
    height: 35px;
    background-image: url(../images/icons/insta_white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2vh;
    cursor: pointer;
}
.logo_and_media .so-me-icons .insta:hover {
background-image: url(../images/icons/insta_black.png);
}
.logo_and_media .so-me-icons .sc_icon {
    display: block;
    width: 35px;
    height: 35px;
    background-image: url(../images/icons/soundcloud_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2vh;
    cursor: pointer;
}
.logo_and_media .so-me-icons .sc_icon:hover{
    background-image: url(../images/icons/soundcloud_black.png);
}
.logo_and_media .so-me-icons .spotify {
    display: block;
    width: 35px;
    height: 35px;
    background-image: url(../images/icons/spotify_white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2vh;
    cursor: pointer;
}
.logo_and_media .so-me-icons .spotify:hover {
    background-image: url(../images/icons/spotify_black.png);
}


/* NAVIGATION */
.music-nav,
.music-nav-cont {
    width: 9%;
    height: 10%;
    color: white;
    font-size: 30px;
    font-family: "Futura", "Helvetica", "Roboto", sans-serif;
    font-weight: 100;
    cursor: pointer;
} 
.music-nav:hover {
    color: black;
    transition: 0.1s;
}
.shows-nav {
    width: 9%;
    height: 10%;
    color: white;
    font-size: 30px;
    font-family: "Futura", "Helvetica", "Roboto", sans-serif;
    font-weight: 100;
    cursor: pointer; 
}
.shows-nav:hover {
    cursor: pointer;
    color: black;
    transition: 0.1s;
}
.about-nav {
    width: 9%;
    height: 10%;
    color: white;
    font-size: 30px;
    font-family: "Futura", "Helvetica", "Roboto", sans-serif;
    font-weight: 100;
    cursor: pointer;
}
.about-nav:hover {
    color: black;
    transition: 0.1s;
}
.shop-nav {
    width: 9%;
    height: 10%;
    color: white;
    font-size: 30px;
    z-index: 2;
    font-family: "Futura", "Helvetica", "Roboto", sans-serif;
    font-weight: 100;
    cursor: pointer;
}
.shop-nav:hover {
    color: black;
    transition: 0.1s;
}


/*MUSIC OPENED MENU */
.music-nav-cont {
    z-index: 3;
    position: absolute;
    margin-left: 10vw;
}
.soundcloud {
    z-index: 2;
    width: 100vw;
    height: auto;
    position: absolute;
    background-color: black;
    opacity: 1;
    cursor: pointer;
    top: -3vh;
}
.scList{
     opacity: 1; 
}
.sc{
margin-top: 14vh;  
    }
.soundcloud .link {
    width: 80vw;
    height: auto;
    align-content: center;
    margin: auto;
}


/*SHOWS OPENED MENU */
.shows-nav-left,
.about-top-nav {
    position: absolute;
    top: 3vh;
    left: 5vw;
    width: 9%;
    height: 10%;
    color: white;
    font-size: 30px;
    z-index: 10;
    font-family: "Futura", "Helvetica", "Roboto", sans-serif;
    font-weight: 100;
    cursor: pointer;
}
#eventList {
    z-index: 10;
    width: 100vw;
    height: auto;
    position: absolute;
    background-color: black;
    opacity: 1;
    color: white;
    font-family: "Futura", "Helvetica", "Roboto", sans-serif;
    font-weight: 100;
    align-content: center;
    margin-top: -3vh;
    padding-top: 15vh;
}
.event {
    background-color: white;
    color: black;
    border-radius: 40px;
    opacity: 1;
    z-index: 20;
    width: 80vw;
    height: auto;
    margin-bottom: 5vh;
     margin-left: 5vw;
     padding: 3vw;
     display: grid;
     grid-template-columns: 1fr 1fr;  
}
.event .column_1{
    justify-self: center;
}
.event .column_2{
    margin-left: 5vw;
    padding: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 120px;
    cursor: pointer;
    border-radius: 20px;
    font-family: "Futura", "Helvetica", "Roboto", sans-serif;
}
button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.price {
    width: 200px;
}


/*SHOP OPENED MENU */
.shop{
    z-index: 10;
    width: 100vw;
    height: auto;
    position: absolute;
    background-color: black;
    opacity: 1;
    padding-top: 15vh;
    margin-top: -3vh;
}
.shop .oneitem {
    opacity: 1;
    align-self: center;
    justify-content: center;
    margin: auto;
    width: 80vw;
    padding-bottom: 15vh;
}
.shop-nav-top-left {
    position: absolute;
    top: 3vh;
    left: 3vw;
    width: 9%;
    height: 10%;
    color: white;
    font-size: 30px;
    z-index: 3;
    z-index: 10;
    font-family: "Futura", "Helvetica", "Roboto", sans-serif;
    font-weight: 100;
}
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 15vw;
    width: 150px;
    cursor: pointer;
    border-radius: 20px;
    font-family: "Futura","Helvetica", "Roboto", sans-serif;
}
.button:hover{
   background-color: black;
    font-family: "Futura", "Helvetica", "Roboto", sans-serif;
}

.button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}


/*ABOUT OPENED MENU */
.about_me {
    z-index: 10;
    width: 90vw;
    height: auto;
    position: absolute;
    background-color: black;
    opacity: 1;
    color: white;
    margin-top: -3vh;
    padding-top: 15vh;
    font-family: "Futura", "Helvetica", "Roboto", sans-serif;
    font-weight: 100;
    padding-left: 5vw;
    padding-right: 5vw;
}
.about_me h1 {
    font-size: 1.2em;
}
.about_me p {
    font-size: 1em;
}
.video {
    z-index: 10;
    width: 100vw;
    height: auto;
}

 .wp-video-shortcode{
    width: 100vw;
     height: auto;
    }


/* CROSS */
.cross-right-music,
.cross-right-shows,
.cross-right-about,
.cross-right-shop {
    position: absolute;
    top: 3vh;
    right: 7vw;
    width: 10%;
    height: 5%;
    background-image: url(../images/cross-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer;
}
.hide {
    display: none;
}



/* desktop  */ 
@media only screen and (min-width: 700px) {
.soundcloud{
    width:50vw;
    height: auto;
    padding-bottom: 3vh;
     position: sticky;
    height:200vh; 
}  
 #eventList{
    z-index: 10;
    width:50vw;
    height: auto;
     position: absolute;
    background-color: black;
    opacity:0.8;  
    color: white;
    right:0; 
}

/* desktop  */

@media only screen and (min-width: 700px) {}

@media only screen and (min-width: 1000px) {
    
    
    /*intro deskop*/
    .left-side-bg {
        animation: slideout-left 1s;
        position: absolute;
        width: 50vw;
        height: 100vh;
        background-color: black;
        z-index: 4;
    }
    .right-side-bg {
        animation: slideout-rigt 1s;
        position: absolute;
        left: 50vw;
        width: 50vw;
        height: 100vh;
        background-color: black;
        z-index: 4;
    }

    @keyframes slideout-left {
      
        100% {
           transform: translateX(-100vw);
        }
    }
    
    @keyframes slideout-right{
        100%{
            transform: translateX(-100vw);
        }
    }
    
    /* grid navigation + logo and social media on top of bg image */
    .navigation_top {
        position: absolute;
        display: grid;
        width: 90vw;
        height: 10vh;
        grid-template-columns: 1fr 1fr;
    }
    .navigation_top .shows-nav {
        justify-self: end;
        padding-right: 5vw;
    }
    .navigation_top .music-nav {
        justify-self: start;
        padding-left: 5vw;
    }
    .navigation_bottom {
        position: absolute;
        display: grid;
        width: 90vw;
        height: 10vh;
        grid-template-columns: 1fr 1fr;
        top: 85vh;
    }
    .navigation_bottom .about-nav {
        padding-left: 5vw;
        justify-self: start;
    }
    .navigation_bottom .shop-nav {
        justify-self: end;
        padding-right: 5vw;
    }
    .logo_and_media {
        display: flex;
        flex-direction: row;
        width: 100vw;
    }
    .logo_and_media .logo-hp {
        width: 100vw;
    }
    .so-me-icons {
        align-self: flex-end;
        width: 40vw;
        margin-left: 35vw;
        bottom: 5vh;
        cursor: pointer;
        z-index: 4;
        position: fixed;
    }
    

    /* social media icons deskop*/
    .so-me-icons a {
        display: inline-block;
        padding: 0.5vw;
    }
    .background .logo-bg {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(../images/eb/new_landing.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        margin-top: 0;
        z-index: 5;
    }
    .logo-bg:hover {
        background-image: url(../images/eb/new_hover.png);
        z-index: 30;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .bg-homepage {
        background-image: url(../images/eb/homepage.jpg);
        position: fixed;
    }
    .logo-hp {
        display: none;
    }


    /* music deskop*/
    #scList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 10vh;
    }
    .soundcloud {
        width: 50vw;
        height: auto;
        padding-bottom: 3vh;
        position: sticky;
        height: auto;
        margin-top: -10vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 6;
    }

    .soundcloud .link {
        width: 20vw;
        height: 20vw;
        overflow-y: hidden;
    }
 
/*events deskop*/
#eventList {
    z-index: 10;
    width: 50vw;
    height: auto;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    right: 0;
}
.event {
    background-color: white;
    color: black;
    border-radius: 40px;
    opacity: 1;
    z-index: 20;
    width: 30vw;
    height: auto;
    margin-bottom: 5vh;
    padding: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    margin-left: 8vw;
}
.scroll {
    position: fixed;
    width: 50vw;
    height: 10vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 30;
    animation-delay:
}
.scroll .arrow {
    background-image: url(../images/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 8vw;
    height: 8vh;
    margin: auto;
    cursor: pointer;
}

    
/*shop deskop*/
.shop {
    width: 50vw;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}
.shop #shopList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5vh;
    height: auto;
    color: black;
    }
.oneitem{
    display: grid;
    grid-template-columns: 1fr;
    width: 20vw;
    height: auto; 
    
    }   
    

    .bg-left{
    width: 50vw;
    z-index: 2;
    }
    .bg-right{
        left: 50vw;
        width: 50vw;
        z-index: 2;
    }
    .nav-desktop{
        position: absolute;
        color:white;
        top: 5vh;
        z-index: 20;
        
    }  
 .nav-desktop-right{
        position: absolute;
        color:white;
        top: 5vh;
        z-index: 30;
        right: 5vw;   
     
    }
    .nav-desktop li{
        padding-left: 30px;
        display: inline-block;
        list-style-type: none;
        color:white;
        font-size: 30px;
    }
      .nav-desktop-right li{
        padding-left: 30px;
        display: inline-block;
        list-style-type: none;
        color:white;
        font-size: 30px;
    }
    .music-nav{
        font-size: 40px;
}
#shopList .oneitem {
    display: grid;
    grid-template-columns: 1fr;
    width: 20vw;
    height: 25vw;
    overflow-y: hidden;
}
.button {
    margin-left: 0;
    margin: auto;
}
    
    
/*about  deskop*/  
.about_me {
    background: rgba(0, 0, 0, 0.5);
   
    
}
    
.about_me .video {
    margin-top: 20vh;
    position: fixed;
    width: 50vw;
    right:0;
    float: right;
    
 
}
 .wp-video-shortcode{
     width: 50vw;
     height: auto;
  
    }
 .about_me #aboutList{ 
     width: 40vw;
     
        
    }
.about_me h1 {
    font-size: 1.2em;
}
.about_me p {
    font-size: 1em;
}


    
    
/* navigation */
.nav-desktop {
    position: absolute;
    color: white;
    top: 5vh;
    z-index: 20;
    font-family: "Futura", "Helvetica", "Roboto", sans-serif;
    font-weight: 100;
    font-weight: 2em;
}
.nav-desktop-right {
    position: absolute;
    color: white;
    top: 4vh;
    z-index: 30;
    right: 5vw;
    font-family: "Futura", "Helvetica", "Roboto", sans-serif;
    font-weight: 100;
    font-weight: 2em;
}
.nav-desktop li {
    padding-left: 30px;
    display: inline-block;
    list-style-type: none;
    color: gainsboro;
    font-size: 30px;
    cursor: pointer;
}
.nav-desktop li:hover {
    color: white;
}
.nav-desktop li u {
    color: white;
    text-decoration: none;
}
.nav-desktop-right li {
    padding-left: 30px;
    display: inline-block;
    list-style-type: none;
    color: gainsboro;
    font-size: 30px;
    cursor: pointer;
}
.nav-desktop-right li:hover {
    color: white;
}
.nav-desktop-right li b {
    color: white;
    text-decoration: none;
}
.music-nav {
    font-size: 40px;
}
.shows-nav {
    left: 90vw;
    font-size: 40px;
}
.about-nav {
    top: 700px;
    font-size: 40px;
}
.shop-nav {
    top: 700px;
    left: 90vw;
    font-size: 40px;
}
.music-nav-cont,
.shows-nav-left,
.about-top-nav,
.shop-nav-top-left {
    display: none;
}
.cross-right-music{
    left: 45vw;
    width: 3%;
    height: 10%;
    z-index: 20;
    cursor: pointer;
}
.cross-right-shows,
.cross-right-shop{
    right: 45vw;
    width: 3%;
    height: 10%;
    z-index: 20;
    cursor: pointer;
}
    
    .cross-right-about{
        width: 3%;
    height: 10%;
    z-index: 20;
    cursor: pointer;
        right: 5vw;
        top: 7vh;
        position: fixed;
    }
.logo-bg:hover{
background-image: url(../images/eb/new_hover.png);
z-index:30;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}
.bg-homepage{
    background-image: url(../images/eb/homepage.jpg);
    position: fixed;
}
.logo-hp{
display: none;
    }   
.date {
color: black;
}